version: '3'
services:
  fc-sose19-redis-edge:
    image: redis:5
    command: sh -c "redis-server"
    volumes:
      - ./:/data
    ports:
      - '6379:6379'
  fc-sose19-app-edge:
    image: maven:3.6.1-jdk-11-slim
    command: sh -c "mvn clean package && mvn spring-boot:run"
    volumes:
      - ./:/home/fc/app
    working_dir: /home/fc/app
    ports:
      - '3000:3000'
